.center-title{
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 40% auto auto auto 10%;
    margin: 1rem;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.match-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-button {
    width: 45%;
}
